@using Microsoft.AspNetCore.Identity
@using Aurora.Interfaces.Models
@inject SignInManager<AuroraUser> SignInManager
@inject NavigationManager NavManager

@code {

    private async Task Logout()
    {
        await SignInManager.SignOutAsync();

        NavManager.NavigateTo("/");
    }

}

<AuthorizeView>
    <Authorized>
        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Person" Color="Color.Primary" Href="/Identity/Account/Logout">Logout</MudButton>
        @*<form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>*@
    </Authorized>
    <NotAuthorized>
        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Person" Color="Color.Default" Href="/Identity/Account/Register">Register</MudButton>
        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Person" Color="Color.Primary" Href="/Identity/Account/Login">Login</MudButton>
    </NotAuthorized>
</AuthorizeView>

@{
}